<h2 class="text-center fw-bold">Users</h2>
<button class="btn  btn-block mb-3"[disabled]="!enableAdd" [ngClass]="currentClasses">AddUser</button>
<!-- <button (click)="showDetails()" class="btn btn-primary btn-sm mb-3">ShowDetails</button> -->
<ul class="list-unstyled">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : 'red'">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{user.image}}">
            </div>
            <div class="col-md-8">
                <h3 [ngStyle]="currentStyles">{{user.firstName|uppercase}} {{user.lastName}}</h3>
                <ul class="list-group" *ngIf="showExtended">
                    <li class="list-group-item" >Age:{{user.age}}</li>
                    <li class="list-group-item">Address: Street:{{user.address.street}} </li>
                    <li class="list-group-item">City: {{user.address.city}}</li>
                    <li class="list-group-item">State: {{user.address.state}}</li>
                    <li class="list-group-item fw-bold">Balance: {{user.balance| currency:"INR"}}</li>
                    <li class="list-group-item">Joined: {{user.registered |date:"fullDate"}}</li>


                </ul>
            </div>
        </div>
  
    </li>
</ul>
